body {
    background-image: url(./pictures/596831.jpg);
    background-position: auto;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    background-size: 100%, 100%;
}


#tg_title {
    font-family: 'Source Code Pro', monospace;
    font-size: 70px;
    text-align: center;
    margin: 0px;
    color: rgb(255, 255, 255)
}

.border_Top {
    display: flex;
    justify-content: center;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.856);
    position: absolute;
    bottom: 85vh;
    padding: 0;
    margin: 0;
    right: 0;
    width: 100vw;
    height: 35vh;
}

.border_Bottom {
    display: flex;
    justify-content: center;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.911);
    position: absolute;
    top: 90vh;
    padding: 0;
    margin: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
}

.div_link {
    position: absolute; 
    width: 80vw;
    top: 91%; 
    Left: 10%; 
    
}

li {
    display: inline-block;
}

li a {
    text-decoration: none;
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    padding: 0 60px;
}

#season_link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 160, 160);
    transition: width .3s;
}

#season_link:hover::after {
    width: 100%;
    transition: width .3s;


}


