body {
    background-image: url(./pictures/930839.png);
    background-position: auto;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    background-size: 100%, 100%;
}

.title_text {
    font-family: "Montserrat", sans-serif;
}

#tg_title {
    font-size: 70px;
    text-align: center;
    margin: 0px;
    color: rgb(255, 255, 255)
}

.border_Top {
    display: flex;
    justify-content: center;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.940);
    position: absolute;
    bottom: 85vh;
    padding: 0;
    margin: 0;
    right: 0;
    width: 100vw;
    height: 35vh;
}

.border_Bottom {
    display: flex;
    justify-content: center;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.940);
    position: absolute;
    top: 90vh;
    padding: 0;
    margin: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
}

.div_link {
    position: absolute; 
    width: 95vw;
    top: 91%; 
    Left: 2.5%; 
    
}

li {
    display: inline-block;
}

li a {
    text-decoration: none;
    display: inline-block;
    color: rgba(255, 255, 255, 0.800);
    font-family: "Montserrat", sans-serif;
    font-size: 43px;
    padding: 0 65px;
}

#season_link1::after, #season_link2::after, #season_link3::after, #season_link4::after  {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 4, 4);
    transition: width .3s;
}

#season_link1:hover::after, #season_link2:hover::after, #season_link3:hover::after, #season_link4:hover::after {
    width: 100%;
    transition: width .3s;


}

#season_link1:hover, #season_link2:hover, #season_link3:hover, #season_link4:hover {
    color: rgb(255, 255, 255);
}


